<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/uc</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">admin</property>
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.default_batch_fetch_size">30</property>
        <property name="current_session_context_class">thread</property>

        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">create</property>
        <!--<mapping class="com.passport.entity.MemberEntity"/>-->
        <!--<mapping class="com.passport.entity.MemberAccountEntity"/>-->
        <!--<mapping class="com.passport.entity.MemberLogEntity"/>-->

    </session-factory>

</hibernate-configuration>